.my-message {
    padding-top: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    justify-content: flex-end;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 70px;
    height: auto;
}

.my-message-inner {
    background-color: #e1ffc7;
    border-radius: 30px;
    color: black;
    padding: 10px;
    position: absolute;
    top: 0;
    right: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin-top: 10px;
}

.opponent-message {
    padding-top: 10px;
    width: calc(100% - 20px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    position: relative;
    justify-content: flex-start;
    padding-left: 10px;
    padding-right: 10px;
    min-height: 70px;
    height: auto;
}

.opponent-message-inner {
    background-color: #eaeaea;
    border-radius: 30px;
    color: black;
    padding: 10px;
    position: absolute;
    top: 0;
    left: 50px;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-end;
    margin-top: 10px;
}

.chat-menu-item:active {
    background-color: #eeeeee;
}

.follower:active {
    background-color: #eeeeee;
}

.attachment-item-1 {
    background-color: #e42e2d;
}

.attachment-item-1:active {
    background-color: #9a2120;
}

.attachment-item-2 {
    background-color: #2e5ce3;
}

.attachment-item-2:active {
    background-color: #284fae;
}

.attachment-item-3 {
    background-color: #2ee45c;
}

.attachment-item-3:active {
    background-color: #28b54d;
}

.attachment-item-4 {
    background-color: #ff9d1e;
}

.attachment-item-4:active {
    background-color: #cc781e;
}

.attachment-item-5 {
    background-color: #2e5ce3;
}

.attachment-item-5:active {
    background-color: #2b4fac;
}

.attachment-item-6 {
    background-color: #e42e2d;
}

.attachment-item-6:active {
    background-color: #9a2120;
}

.choose-media-type-item {
    background-color: #eeeeee;
}

.choose-media-type-item:active {
    background-color: #eeeeee;
}